<%- contentFor('main') %>
    <div class="pt-2">
        <h2 class="sec-title">Área dos pedidos</h2>
    </div>
    <div class="row pt-4">
        <div class="col">
            <div class="card blacked border-radius">
                <div class="card-header red semi-radius">
                    <p class="title">Pedidos agendados</p>
                </div>
                <div class="card-body">
                    <% agendados.forEach(pedido => { %>
                        <ul class="historic-requests" draggable="true">
                            <li class="historic-request-item">
                                <p class="item-name"><%=pedido.id_pedido %> - <%=pedido.nome_destinatario %></p>                                
                                <p class="item-info"><strong>Endereço:</strong> <%=pedido.logradouro %>, <%=pedido.numero_logradouro %>, Bairro <%=pedido.bairro %> <%=pedido.complemento %></p>
                                <p class="item-info"><strong>Telefone:</strong> <%=pedido.telefone_destinatario %></p>
                                <p class="item-info"><strong>Entregador(a):</strong> <%=pedido.nome_entregador %></p>
                                <p class="item-info"><strong>Observações:</strong> <%=pedido.observacoes %></p>
                                <ul class="item-info task-info">
                                    <p>Itens do pedido:</p>
                                    <div class="item">
                                        <% pedido.itens.forEach((item, index) => { %>
                                            <li><%if(index !== 0){%>- <% } %> <%=item.nome_item%></li>              
                                        <% }); %>
                                    </div>
                                    <p class="item-price">Valor do Pedido: R$ <%=pedido.valor_total %></p>                                
                                </ul>
                                <div class="historic-item-option">
                                    <div class="options">
                                        <a class="btn-check" href="/pedido/<%=pedido.id_pedido%>/status/3"><i class='bx bx-check'></i></a>
                                        <a class="btn-uncheck" href="/pedido/<%=pedido.id_pedido%>/status/1"><i class='bx bx-x'></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    <% }); %>                  
                </div>
            </div>
            <div class="action mt-3">
                <a href="/cadastrar-pedidos" class="btn btn-add-pedido">
                    <i class='bx bx-plus'></i><span class="add-order">Adicionar pedido</span>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card blacked border-radius">
                <div class="card-header purple semi-radius">
                    <p class="title">Pedidos em entrega</p>
                </div>
                <div class="card-body">
                    <% emEntrega.forEach(pedido => { %>
                        <ul class="historic-requests" draggable="true">
                            <li class="historic-request-item">
                                <p class="item-name"><%=pedido.id_pedido %> - <%=pedido.nome_destinatario %></p>                                
                                <p class="item-info"><strong>Endereço:</strong> <%=pedido.logradouro %>, <%=pedido.numero_logradouro %>, Bairro <%=pedido.bairro %> <%=pedido.complemento %></p>
                                <p class="item-info"><strong>Telefone:</strong> <%=pedido.telefone_destinatario %></p>
                                <p class="item-info"><strong>Entregador(a):</strong> <%=pedido.nome_entregador %></p>
                                <p class="item-info"><strong>Observações:</strong> <%=pedido.observacoes %></p>
                                <ul class="item-info task-info">
                                    <p>Itens do pedido:</p>
                                    <div class="item">
                                        <% pedido.itens.forEach((item, index) => { %>
                                            <li><%if(index !== 0){%>- <% } %> <%=item.nome_item%></li>              
                                        <% }); %>
                                    </div>
                                    <p class="item-price">Valor do Pedido: R$ <%=pedido.valor_total %></p>                                
                                </ul>
                                <div class="historic-item-option">
                                    <div class="options">
                                        <a class="btn-check" href="/pedido/<%=pedido.id_pedido%>/status/4"><i class='bx bx-check'></i></a>
                                        <a class="btn-uncheck" href="/pedido/<%=pedido.id_pedido%>/status/2"><i class='bx bx-x'></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    <% }); %>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card blacked border-radius">
                <div class="card-header green semi-radius">
                    <p class="title">Pedidos entregues</p>
                </div>
                <div class="card-body">
                    <% entregues.forEach(pedido => { %>
                        <ul class="historic-requests" draggable="true">
                            <li class="historic-request-item">
                                <p class="item-name"><%=pedido.id_pedido %> - <%=pedido.nome_destinatario %></p>                                
                                <p class="item-info"><strong>Endereço:</strong> <%=pedido.logradouro %>, <%=pedido.numero_logradouro %>, Bairro <%=pedido.bairro %> <%=pedido.complemento %></p>
                                <p class="item-info"><strong>Telefone:</strong> <%=pedido.telefone_destinatario %></p>
                                <p class="item-info"><strong>Entregador(a):</strong> <%=pedido.nome_entregador %></p>
                                <p class="item-info"><strong>Observações:</strong> <%=pedido.observacoes %></p>
                                <ul class="item-info task-info">
                                    <p>Itens do pedido:</p>
                                    <div class="item">
                                        <% pedido.itens.forEach((item, index) => { %>
                                            <li><%if(index !== 0){%>- <% } %> <%=item.nome_item%></li>              
                                        <% }); %>
                                    </div>
                                    <p class="item-price">Valor do Pedido: R$ <%=pedido.valor_total %></p>                                
                                </ul>
                                <div class="historic-item-option">
                                    <div class="options">                                        
                                        <a class="btn-check" href="/pedido/<%=pedido.id_pedido%>/status/5"><i class='bx bx-check'></i></a>
                                        <a class="btn-uncheck" href="/pedido/<%=pedido.id_pedido%>/status/3"><i class='bx bx-x'></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    <% }); %>
                </div>
            </div>
        </div>    
    </div>

    <div class="row pt-4">
        <div class="col">
            <div class="card blacked border-radius">
                <div class="card-header blue semi-radius">
                    <p class="title">Pedidos não entregues</p>
                </div>
                <div class="card-body">
                    <% naoEntregues.forEach(pedido => { %>
                        <ul class="requests mb-3 border-radius">
                            <li class="request-item">
                                <p class="item-name">
                                    <%= pedido.nome_destinatario %> ,
                                        <%= pedido.logradouro %> -
                                            <%= pedido.numero_logradouro %> -
                                                <span style="color: gainsboro; font-weight: 600;"> Status: <%= pedido.nome_status %></span>
                                </p>
                                <% if (pedido.complemento) { %>
                                    <div class="item-info mb-2">
                                        <p>Complemento: </p>
                                        <%= pedido.complemento %>
                                    </div>
                                <% } %>
                                <div class="item-info mb-2">
                                    <p>Entregador(a): </p>
                                    <%= pedido.nome_entregador %>
                                </div>
                                <div class="item-info">
                                    <p>Observações: </p>
                                    <%= pedido.observacoes %>
                                </div>

                                <div class="item-option">
                                    <div class="item-price">
                                        <p class="price">Valor do Pedido: R$ <%= pedido.valor_total %></p>
                                    </div>
                                    <div class="options">
                                        <a class="btn btn-edit green border-radius" href="/pedido/<%=pedido.id_pedido%>/cadastrar-item"><i class='bx bx-edit'></i></a>
                                        <a class="btn btn-trash red border-radius" href="/pedido-deletar/<%=pedido.id_pedido%>"><i class='bx bx-trash'></i></a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <% }); %>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col">
            <div class="card blacked border-radius">
                <div class="card-header blue semi-radius">
                    <p class="title">Pedidos concluidos</p>
                </div>
                <div class="card-body">
                    <% concluidos.forEach(pedido => { %>
                        <ul class="requests mb-3 border-radius">
                            <li class="request-item">
                                <p class="item-name">
                                    <%= pedido.nome_destinatario %> ,
                                        <%= pedido.logradouro %> -
                                            <%= pedido.numero_logradouro %> -
                                                <span style="color: gainsboro; font-weight: 600;"> Status: <%= pedido.nome_status %></span>
                                </p>
                                <% if (pedido.complemento) { %>
                                    <div class="item-info mb-2">
                                        <p>Complemento: </p>
                                        <%= pedido.complemento %>
                                    </div>
                                <% } %>
                                <div class="item-info mb-2">
                                    <p>Entregador(a): </p>
                                    <%= pedido.nome_entregador %>
                                </div>
                                <div class="item-info">
                                    <p>Observações: </p>
                                    <%= pedido.observacoes %>
                                </div>

                                <div class="item-option">
                                    <div class="item-price">
                                        <p class="price">Valor do Pedido: R$ <%= pedido.valor_total %></p>
                                    </div>
                                    <div class="options">
                                        <a class="btn btn-edit green border-radius" href="/pedido/<%=pedido.id_pedido%>/cadastrar-item"><i class='bx bx-edit'></i></a>
                                        <a class="btn btn-trash red border-radius" href="/pedido-deletar/<%=pedido.id_pedido%>"><i class='bx bx-trash'></i></a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <% }); %>
                </div>
            </div>
        </div>
    </div>