<%- contentFor('main') %>
    <div class="pt-2">
        <h2 class="sec-title">Visão geral</h2>
    </div>
    <div class="row pt-4">
        <div class="col">
            <div class="card blacked border-radius">
                <div class="card-header purple semi-radius">
                    <p class="title">Total de pedidos cadastrados</p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <%= totais.cadastrados.geral %>  pedidos </p>
                    <div class="divider"></div>
                    <h5>No ultimo mês</h5>
                    <p class="card-text">
                        <%= totais.cadastrados.mes %>  pedidos cadastrados no último mês</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card blacked border-radius">
                <div class="card-header green semi-radius">
                    <p class="title">Total de pedidos entregues</p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <%= totais.entregues.geral %>  pedidos entregues</p>
                    <div class="divider"></div>
                    <h5>No ultimo mês</h5>
                    <p class="card-text">
                        <%= totais.entregues.mes %> pedidos entregues no último mês</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card blacked border-radius">
                <div class="card-header red semi-radius">
                    <p class="title">Total de pedidos não entregues</p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <%= totais.naoEntregues.geral %> pedidos não entregues</p>
                    <div class="divider"></div>
                    <h5>No ultimo mês</h5>
                    <p class="card-text">
                        <%= totais.naoEntregues.mes %> pedidos entregues no último mês</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col">
            <div class="card blacked border-radius">
                <div class="card-header blue semi-radius">
                    <p class="title">Total de pedidos cadastrados</p>
                </div>
                <div class="card-body">
                    <ul class="requests border-radius">
                        <li class="request-item">
                            <p class="item-name">John Doe, Av. Alguma Coisa - 455</p>
                            <ul class="item-info">
                                <p>Itens do pedido:</p>
                                <li>Item 1,</li>
                                <li>Item 2,</li>
                                <li>Item 3</li>
                            </ul>
                            <div class="item-option">
                                <div class="item-price">
                                    <p class="price">Valor do Pedido: R$ 55,00</p>
                                </div>
                                <div class="options">
                                    <a class="btn btn-edit green border-radius" href="#"><i class='bx bx-edit'></i></a>
                                    <a class="btn btn-trash red border-radius" href="#"><i class='bx bx-trash'></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>