<%- contentFor('main') %>
    <div class="pt-2">
        <h2 class="sec-title">Pedido
            <%= id_pedido %> - Cadastrar itens do pedido</h2>
    </div>
    <div class="form-area-item mt-3">
        <form id="form-item-pedido" class="form-area--inputs" method="POST" action="/pedido/<%=id_pedido%>/cadastrar-item">
            <fieldset class="fieldset border-radius">
                <legend>Itens do pedido</legend>
                <div class="form-row">
                    <div class="col-md-4 input-area">
                        <label for="" class="form-label label">Nome do produto</label>
                        <input name="nome_item" type="text" class="input form-control" id="">
                    </div>
                    <div class="col-md-4 input-area">
                        <label for="" class="form-label label">Quantidade</label>
                        <input name="quantidade_item" type="number" class="input form-control" id="">
                    </div>
                    <div class="col-md-4 input-area">
                        <label for="" class="form-label label">Preço do produto</label>
                        <input name="preco_item" type="number" step=".01" class="input form-control" id="">
                    </div>
                    <button type="submit" form="form-item-pedido" class="btn btn-incluir border-radius">
                        <i class='bx bx-plus'></i><span>Incluir produto</span>
                    </button>
                </div>
            </fieldset>
            <div class="form-row">
                <div class="col-12 btn-group mt-4">
                    <a href="/area-pedidos" class="btn btn-done border-radius p-2" style="text-decoration: none;">Concluir pedido</a>
                    <a href="/area-pedidos" class="btn btn-clear border-radius p-2" style="text-decoration: none;">Voltar aos pedidos</a>
                </div>
            </div>
        </form>
        <div class="card blacked border-radius">
            <div class="card-header purple semi-radius">
                <p class="title">Itens do pedido</p>
            </div>
            <div class="card-body">
                <% itensDoPedido.forEach(item => { %>
                    <ul class="historic-requests">
                        <li class="historic-request-item">
                            <p class="item-name">
                                <%= item.nome_item%>
                            </p>
                            <ul class="item-info task-info">
                                <p class="item-text">Quantidade: R$
                                    <%= item.quantidade_item%>
                                </p>
                                <p class="item-text">Valor do item: R$
                                    <%= item.preco_item%>
                                </p>
                                <p class="item-text">Valor total do item: R$
                                    <%= item.preco_item * item.quantidade_item %>
                                </p>
                            </ul>
                        </li>
                        <button class="btn-remove--item border-radius">Remover produto</button>
                    </ul>
                    <% }); %>
            </div>
            <div class="card-footer smooth border-radius">
                <p>Valor total do pedido: R$ <span>30,00</span></p>
            </div>
        </div>
    </div>